{% load staticfiles %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Танкист МК - онлайн симулятор танкиста</title>
        <link href="{% static "index.css" %}" rel="stylesheet"/>
        <meta name="description" content="Онлайн Многопользовательская Игра Танковый симулятор Симулятор танкиста" />
    </head>
    <body>

        <div id="header">
            <h1>Танкист МК</h1>
        </div>

        <div id="tableDownload">

                <b><a href="/media/distr/TankistLauncher.exe">СКАЧАТЬ ЗАГРУЗЧИК Win x64</a></b>
                <br>
                <br>
                <b><a href="/media/upload/file.exe">СКАЧАТЬ ВЕРСИЮ ДЛЯ ИГРЫ ПО ЛОКАЛЬНОЙ СЕТИ</a></b>
            
        </div>

        <div id="mainCell">

            <aside class="sidebarLeft">
                <p class="block1">
                    <a href="index.html">Новости</a><br>
                    <a href="register.html">Регистрация</a><br>
                    <a href="download.html">Скачать</a><br>
                    <a href="forum.html">Форум</a><br>
                    <a href="feedback.html">Обратная связь</a><br>
                </p>
            </aside>

            <aside class="sidebarRight">
                <p>Подписаться на новости</p>
                <p class="illustration">В дальнейшем вы легко сможете отписаться</p>
                <input type="text" name="address" size="14"/>
                <br>
                <input type="submit" value="Подписаться"/>
            </aside>

            <article class="main">
                <h1>Новости</h1>
            </article>

        </div>

<!--
<p>
    <a href="http://jigsaw.w3.org/css-validator/check/referer">
        <img style="border:0;width:88px;height:31px"
            src="http://jigsaw.w3.org/css-validator/images/vcss"
            alt="Valid CSS!" />
    </a>

    <a href="http://jigsaw.w3.org/css-validator/check/referer">
    <img style="border:0;width:88px;height:31px"
        src="http://jigsaw.w3.org/css-validator/images/vcss-blue"
        alt="Valid CSS!" />
    </a>
</p>
-->
    <div id="footer">
        &copy; 2016, Phuntik & Co
    </div>

    </body>
</html>
